*{padding: 0;margin: 0;border: 0;list-style: none;}
body{background-color: #e8e9ed; font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
input,button{-webkit-appearance:none;appearance:none;}
::-webkit-input-placeholder { color:#8e8e8e; font-size: 0.9rem; font-weight: normal;}
input:-moz-placeholder { color:#8e8e8e; font-size: 0.9rem; font-weight: normal;}
.nocopy{
    -webkit-text-size-adjust: none!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    -webkit-user-select:none!important ;

    -moz-text-size-adjust: none!important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    -moz-user-select:none!important;

    text-size-adjust: none!important;
    tap-highlight-color: rgba(0, 0, 0, 0)!important;
    user-select:none!important;
}
.clearfix:after{ display:block; clear:both; content:""; visibility:hidden; height:0;}
.clearfix{ zoom:1;}
.clear{ clear:both;}

@media (min-width: 300px) and (max-width:449px){
    html {
        font-size: 15px !important;
    }
}
@media (min-width: 450px) and (max-width:639px){
    html {
        font-size: 18px !important;
    }
}
@media (min-width: 640px) and (max-width:999px){
    html {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 1000px){
    html {
        font-size:22px !important;
    }
}
.blue{
    background-color: #0e90e2;
    color: #ffffff;
}
/***************alert弹出层**************/
.border-radius{
    border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
}
.title01{
    font-size: 1rem;
}
.title02{
    font-size: 1.1rem;
}
.title03{
    font-size: 1.2rem;
}


.margin-auto{
    margin:0 auto;
}


a{
    color: #333333;
    text-decoration: none;
}

/****************加载中*************/
.loading, .ajax_loading{
	bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999999999;
}
.ajax_loading{
	display: none;
}
.loading .load_box, .ajax_loading .load_box{
	cursor: pointer;
    display: block;
    height: 150px;
    left: 50%;
    margin-left: -37.5px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition: all 5s linear 0s;
    width: 70px;
    z-index: 9;
}
.loading .load_img, .ajax_loading .load_img{
    background: rgba(0, 0, 0, 0) url("../images/loading1.gif") no-repeat scroll center center / 100px 100px;
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 20px;
    width: 100px;
    z-index: 11;
}
.ajax_loading .load_img{
	background: url("../images/loading6.gif") no-repeat scroll center center / 35px 35px;
	top: 50px;
    height: 35px;
    width: 35px;
}
.loading .load_span, .ajax_loading .load_span{
	background: #fff none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ajax_loading .load_span{
	background: none;
}

/**************************************************头部公共样式****************************************/
.header{
    width: 100%;
    height: 3.3rem;
    position: fixed;
    left: 0;
    top:0;
    z-index: 1000;
    background-color: #303538;
}
.header_bg{
    background-color: #f8f8f8;
    border-bottom:#c1c3cc 1px solid;
}
.header_bg2{
    background-color: #303538;
    border-bottom:#e5e5e5 1px solid;
}
.header_title{
    width: 100%;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}
.left_ico{
    background:url("../images/back.png") no-repeat left center;
    background-size:12px 18px;
    width:4rem;
    height: 3.3rem;
    position: absolute;
    left: 20px;
    top:0;
}

.right_ico{
    background:url("../images/scan.png") no-repeat right center;
    background-size:26px 24px;
    width:4rem;
    height: 3.3rem;
    position: absolute;
    right: 10px;
    top:0;
}
.back{
    overflow: hidden;
    height: 3.5rem;
    width: 100%;
    line-height: 3.5rem;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 3rem;
    position: fixed;
    left: 0;
    bottom:0
}
.header_bg3{
    background-color: #303538;
}
.left_ico1{
    background:url("../images/back.png") no-repeat left center;
    background-size:12px 18px;
    width:4rem;
    height: 3.3rem;
    position: absolute;
    left: 20px;
    top:0;
}
.right_choice{float: right;margin-right: 0.8rem;display: inline-block;line-height:42px;}
.color{ color: #fff;}
.toRight{float: right !important;text-align: right;}
.right_{float: right;display: inline-block;}
.right_txt{float: right;display: inline-block;margin-right: 1rem;}
.bg_color2{background: #f7f7f7}
.margintopM{margin-top: 4rem !important;}
.marginBotM{margin-bottom: 5rem !important;}
.colorH{color:#ff5500 !important;}


.tel{color: #3374D5 !important;}
select{background: transparent;}
.borderTop{border-top:1px solid #e5e5e5;}
.margintop33{margin-top: 3.3rem !important;}