/*================================= 删除按钮 ======================================*/
.deleteMask{ position: fixed; top:0; left:0; height:100%; width:100%; background: rgba(0,0,0,0.3); z-index: 1000;}
.buttonDiv{ position: fixed; bottom:0; left:0; right:0; z-index: 1001;}
.buttonDiv div{ position: relative; padding:0 0.7rem}
.buttonDiv div a{position:relative; font-weight:600; display: block; width: 100%; height:3.5rem; line-height:3.5rem; background:#fff; margin-bottom:0.7rem; text-align: center; font-size: 1.2rem; border-radius:8px; color:#333;}
.buttonDiv div a.delete{ color:#FE3824; }
.buttonDiv div a.cancle{ color:#0076FF; }  

/*================================= 删除提示框 ======================================*/
.bombBox{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1005;}
.maskLayer{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); }
.deleteBox{ position: absolute; left: 15%; width: 70%; background: #fff; border-radius: 5px; top: 38%; }
.deleteBox p{ padding: 2rem 1.2rem; text-align: center; color: #333; font-size: 1.05rem; }
.deleteBox div{ line-height: 3rem; position: relative;}
.deleteBox div:before{ content: " "; position: absolute; left: 0; top: 0; width: 100%; height: 1px; border-top : 1px solid #e2e2e2; color: #e2e2e2; -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5);}
.deleteBox a{position: relative; display: inline-block; line-height: 3rem; text-align: center; width: 50%; float: left; font-size: 1.05rem; color: #333;}
.deleteBox a:before{ content: " "; position: absolute; left: 0; top: 0; width: 1px; height: 100%; border-left: 1px solid #e2e2e2; color: #e2e2e2; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleX(0.5); transform: scaleX(0.5);}
.deleteBox a:first-child:before{ width: 0; border: 0; }
.deleteBox a.confirm{ color: #FF6F00; }

/*================================= 温馨提示框 ======================================*/
.mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); z-index: 1002; }
.mask_content{ position: fixed; top: 31%; left: 13%; width: 74%; background: #fff; border-radius: 6px; z-index: 1004; box-shadow: 0 0 1.3rem rgba(0,0,0,0.26);}
.mask_content p.error_title{ text-align: center; width: 100%; display: block; padding: 2rem 0 0; margin:0;}
.mask_content p.error_title span{ display: inline-block; color: #FF5500; font-size: 1.3rem; line-height: 2rem; font-weight: 600; background: url("../../images/false.png") no-repeat left center; background-size: 2rem 2rem; padding-left: 2.8rem; }
.mask_content p.error_reason{ text-align: center; padding: 1rem; color: #333; font-size: 1rem; }
.mask_content a{ position: relative; text-align: center; display: inline-block; float:left; color: #1A92F5; height: 3.5rem; line-height: 3.5rem;}
.mask_content div{position: relative;}
.mask_content div:before{ content: " "; position: absolute; left: 0; top: 0; width: 100%; height: 1px; border-bottom: 1px solid #e5e5e5; color: #e5e5e5; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleY(0.5); transform: scaleY(0.5);}
.mask_bank{ position: fixed; top: 31%; left: 1rem; right: 1rem; z-index: 1004; }
.mask_bank img{ display: block; width: 100%; }
.mask_bank a.close{ position: absolute; top: 0; right: 0; height: 2rem; width: 2rem; background: url("../../images/close.png") no-repeat center center; background-size: 1rem 1rem; }
#prompt_ok{position:relative; height:3rem; line-height:3rem; color:#0e90d2; text-align:center; display:block; width:100%; font-size:1.05rem; }
.mask_content a#prompt_cancel:after{ content: " "; position: absolute; right: 0; top: 0; left:auto; width: 1px; height: 100%; border-right : 1px solid #e2e2e2; color: #e2e2e2; -webkit-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: scaleX(0.5); transform: scaleX(0.5);}

/*================================= 无记录或错误消息 ======================================*/
.noRecord{ position: relative; text-align: center; width: 100%;}
.noRecord > img{ width: 25%; margin-top: 7rem;}
.noRecord p{ color: #333; font-size: 1.1rem; line-height: 1.8rem; padding-top: 1rem;}


